.flash {
  -webkit-animation-name: flash-animation;
  -webkit-animation-duration: 0.3s;

  animation-name: flash-animation;
  animation-duration: 0.3s;
}

@-webkit-keyframes flash-animation {
  from { background: black; }
  to   { background: white; }
}

@keyframes flash-animation {
  from { background: black; }
  to   { background: white; }
}

.in-progress {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr 2fr 7fr 2fr;
  grid-template-columns: 1fc;
  grid-gap: 5px;
  height: 70vh;
}

#title {
  grid-row: 1/1;
  grid-column: 1/1;
}

#media-container {
  grid-row: 2/2;
  grid-column: 1/1;
  padding: 15px;
  display: inline-flex;
  justify-content: space-evenly;
  height: 450px;
}

#description {
  grid-row: 4/4;
  grid-column: 1/1;
}

#commands {
  grid-row: 5/5;
  grid-column: 1/1;
  padding: 15px;
}

#state-table {
  display: inline-flex;
  justify-content: center;
  padding: 15px;
}

#state-table table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

#state-table th, td {
  padding: 10px 15px 10px 15px;
}

#items {
  grid-row: 5/5;
  grid-column: 1/1;
}

#leaderboard-button {
  margin: 10px 0;
}

#leaderboard-close-button {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.sb-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
}

.ping-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.bp3-tag-input {
  display: inline-flex;
}

#room-image {
  /* width: 30%; */
  max-height: 100%;
}

#room-video {
  display: none;
}

.player-name {
  width: 10%;
  grid-row: 3/3;
  grid-column: 1/1;
  justify-self: center;
}

.leaderboard-overlay {
  text-align: center;
  width: 30%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.leaderboard-overlay table {
  margin: 0 auto;
  width: 80%;
}

.leaderboard-overlay table td, .leaderboard-overlay table th {
  padding: 8px;
}
.leaderboard-overlay table td:nth-child(1) {
  width: 75%;
}